body {
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: 3fr 1fr;
    flex-direction: column;
    font-family: "Gilroy-Bold.ttf", sans-serif
}

main {
    margin-left: 20rem;
    align-self:center;
}

main h1 div {
    display: inline;
    font-weight: 900;
    font-size: 5rem;
}

main h1 div.flux {
    color: #3523FF;
}

.freebieflux-link {
    text-decoration: none;
    color: #FF0000;
}

.follow-massage {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 4rem;
}

footer {
    background-color: #DEE1E6;
}

.footer-container {
    margin-left: 20rem;
}

.social-container {
    display: flex;
}

footer a {
    margin-right: 8rem;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: #000;
}

footer a img{
    width: 3rem;
    margin-right: 2rem;
}

